.part4 {
  display: flex;
  flex-direction: column;
}

.texts7 {
  display: flex;
  flex-direction: column;
}

.title4 {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  display: flex;
  margin-bottom: 22px;
}

.textstyle5 {
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  color: #ffffff;
}
