.tab2 {
  width: 363px;
  height: 440px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 30px;
  background-color: #ffffff;
  box-shadow: 8px 9px 12px #d8d8d8;
}

.tab2photo {
  width: 363px;
  height: 147px;
  background-color: black;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.tab2texts {
  margin-top: 30px;
  margin-bottom: 30px;
}

.tab2title {
  width: 300px;
  height: 58px;
  font-family: "Cabin";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  color: #25313c;
  margin-bottom: 25px;
}

.tab2minitext {
  width: 290px;
  height: 42px;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: flex-end;
  color: #25313c;
}

.tab2profile {
  width: 290px;
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  margin-bottom: 30px;
}

.tab2pfp {
  width: 45px;
  height: 45px;
  background-color: black;
  border-radius: 50px;
}

.tab2name {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  font-size: 12px;
  line-height: 150.6%;
  display: flex;
  align-items: center;
  color: #6d7d8b;
}
